:root {
    --nav-button-height: 66.4; /* relative Size to bottom buttons */
    --normal-shadow: 0px 1px 12px rgba(171, 171, 171, 0.5);
    --hovered-shadow: 1px 2px 24px rgba(119, 119, 119, 0.5);
    --button-left-margin: 0 1.94% 0 0;
    --button-right-margin: 0 0 0 1.94%;
    --radius: 1%;
    --parent-height: 100;
    --parent-width: 100;
    --height: 100;
    --width: 100;
    --aspect-ratio: 1.97;
    --navbar-left-margin: 1.67%;
    --navbar-right-margin: 2.5%;
}

body {
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
}

/*                             Container                           */

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    box-shadow: var(--normal-shadow);
}

.navbar-container-left {
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
}

.navbar-container-right {
    width: 40%;
}

.side-content-container {
    height: 93%;
}

.side-container {
    height: 100%;
    width: 48.5%;
    margin-right: 1%;
}

.side-left {
    margin-left: 1%;
    float: left;
}

.side-right {
    margin-left: 50.5%;
}

.vertical-spacer {
    height: 2%;
}

.area-container {
    box-shadow: var(--normal-shadow);
    padding: 0.4%;
}

.container-text {
    margin: 0;
}

.tutorial-container {
    --height: 25;
    height: calc(var(--height) * 1%);
    border-radius: calc(var(--radius) / (var(--width) / 100)) / calc(var(--radius) / (var(--height) / 100));
}

.code-editor-container {
    overflow: auto;
    --height: 60;
    height: calc(var(--height) * 1%);
    border-radius: calc(var(--radius) / (var(--width) / 100)) / calc(var(--radius) / (var(--height) / 100));
}

.button-container {
    --height: 5;
    height: calc(var(--height) * 1%);
}

.canvas-container {
    --height: 75;
    height: calc(var(--height) * 1%);
    border-radius: calc(var(--radius) / (var(--width) / 100)) / calc(var(--radius) / (var(--height) / 100));
}

.console-container {
    --height: 17;
    height: calc(var(--height) * 1%);
    border-radius: calc(var(--radius) / (var(--width) / 100)) / calc(var(--radius) / (var(--height) / 100));
}

.line-number-container {
    width: 3%;
    float: left;
    margin: 0;
    text-align: center;
}

.source-code-container {
    margin-left: 3%;
    width: 97%;
}

/*                             navbar                              */

.navbar-title {
    margin-left: var(--navbar-left-margin);
    float: left;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.level-title {
    margin-left: var(--navbar-left-margin);
    float: left;
    max-width: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*                             button                              */

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18.72px;
    background-color: white;
    border: none;
    box-shadow: var(--normal-shadow);
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button:hover {
    box-shadow: var(--hovered-shadow);
}

button:active {
    background-color: rgb(127, 127, 127);
}

.navbar-button-left {
    margin-left: var(--navbar-left-margin);
}

.navbar-button-right {
    margin-right: var(--navbar-right-margin);
}

.next-previous-button {
    --parent-height: 7;
    --parent-width: 60;

    --height: var(--nav-button-height);
    --width: calc(((var(--height) * var(--parent-height)) / var(--parent-width)) / var(--aspect-ratio));

    --radius-width: calc((100 / ((var(--parent-width) * var(--width)) / 100)) / var(--aspect-ratio));
    --radius-height: calc(100 / ((var(--parent-height) * var(--height)) / 100));

    float: left;
    height: calc(var(--height) * 1%);
    width: calc(var(--width) * 1%);
    border-radius: calc(var(--radius) * var(--radius-width)) / calc(var(--radius) * (var(--radius-height)));
}

.button-left {
    margin: var(--button-left-margin);
    float: left;
}

.button-right {
    margin: var(--button-right-margin);
    float: right;
}

.buttons {
    --height: 100;
    --width: 10;
    --parent-height: 5;
    --parent-width: 48.5;
    --radius-width: calc((100 / ((var(--parent-width) * var(--width)) / 100)) / var(--aspect-ratio));
    --radius-height: calc(100 / ((var(--parent-height) * var(--height)) / 100));

    height: calc(var(--height) * 1%);
    width: calc(var(--width) * 1%);
    border-radius: calc(var(--radius) * var(--radius-width)) / calc(var(--radius) * (var(--radius-height)));
}

.darkmode-button {
    --height: var(--nav-button-height);
    --width: 20;
    --parent-height: 7;
    --parent-width: 40;
    --radius-width: calc((100 / ((var(--parent-width) * var(--width)) / 100)) / var(--aspect-ratio));
    --radius-height: calc(100 / ((var(--parent-height) * var(--height)) / 100));

    float: right;
    height: calc(var(--height) * 1%);
    width: calc(var(--width) * 1%);
    border-radius: calc(var(--radius) * var(--radius-width)) / calc(var(--radius) * (var(--radius-height)));
}

.paste-solution-button {
    --height: 100;
    --width: 30;
    --parent-height: 5;
    --parent-width: 60;
    --radius-width: calc((100 / ((var(--parent-width) * var(--width)) / 100)) / var(--aspect-ratio));
    --radius-height: calc(100 / ((var(--parent-height) * var(--height)) / 100));

    float: right;

    height: calc(var(--height) * 1%);
    width: calc(var(--width) * 1%);
    border-radius: calc(var(--radius) * var(--radius-width)) / calc(var(--radius) * (var(--radius-height)));
}

/*                             dropdown                            */

.dropdown-button,
.dropdown-menu button {
    --height: var(--nav-button-height);
    --width: 20;
    --parent-height: 7;
    --parent-width: 40;
    --radius-width: calc((100 / ((var(--parent-width) * var(--width)) / 100)) / var(--aspect-ratio));
    --radius-height: calc(100 / ((var(--parent-height) * var(--height)) / 100));

    width: 100%;
    height: calc(var(--height) * 1%);
    border-radius: calc(var(--radius) * var(--radius-width)) / calc(var(--radius) * (var(--radius-height)));
}


.dropdown {
    margin-right: var(--navbar-right-margin);
    width: 20%;
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border-radius: 10px;
    box-shadow: var(--normal-shadow);
    padding-left: 0;
    padding-bottom: 0.5%;
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: 300%;
}

.dropdown-menu button {
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--normal-shadow);
    height: 33.33%;

    --height: var(--nav-button-height);
    --parent-height: 7;
    --parent-width: 40;
    --radius-width: calc((100 / ((var(--parent-width) * var(--width)) / 100)) / var(--aspect-ratio));
    --radius-height: calc(100 / ((var(--parent-height) * var(--height)) / 100));
    border-radius: calc(var(--radius) * var(--radius-width)) / calc(var(--radius) * (var(--radius-height)));
}

.dropdown-menu button:hover {
    box-shadow: inset var(--hovered-shadow);

}

.dropdown-menu button::active {
    background-color: rgb(127, 127, 127);
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

/*                             tutorial                               */
.tutorial {
    float: left;
    overflow: auto;
    height: 100%;
    width: 100%;
}

/*                             code-editor                            */

.pre-block-tutorial {
    margin: 0;
    padding: 0;
}

.pre-block {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.code-block {
    float: left;
    outline: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*                             qrcode modal                            */

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.qrcode-modal-content {
    margin-top: 10%;
    margin-left: 42.5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--normal-shadow);
    padding-bottom: 10pt;
    width: 282.66px;
    height: min-content;
}

.solution-modal-content {
    --height: 60;
    --width: 60;

    margin-top: 10%;
    margin-left: 20%;
    background-color: white;
    box-shadow: var(--normal-shadow);

    --radius-width: calc((100 / ((var(--parent-width) * var(--width)) / 100)) / var(--aspect-ratio));
    --radius-height: calc(100 / ((var(--parent-height) * var(--height)) / 100));

    height: calc(var(--height) * 1%);
    width: calc(var(--width) * 1%);
    border-radius: calc(var(--radius) * var(--radius-width)) / calc(var(--radius) * (var(--radius-height)));
}

.close-container {
    height: 5%;
    max-height: 5%;
    width: 100%;
}

.solution-code-container {
    overflow: auto;
    margin-left: 1.66%;
    height: 80%;
    width: 98.33%;
}

.paste-solution-button-container {
    height: 8.33%;
    width: 98.33%;
    margin-right: 1.66%;
}

.modal-spacer {
    height: 3.33%;
}

.close {
    color: #878787;
    float: right;
    padding-right: 5pt;
    font-size: 28px;
    font-weight: bold;
    height: 100%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-elements {
    padding: 10pt;
    margin: 0;
}

.error-message {
    display: none;
    color: red;
}

/*                             dark mode                            */
.darkmode {
    background-color: #1f1f1f;
    color: white;
}